@media screen and (max-width: 767px) {
  * {
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", sans-serif;
  }
  body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
  }
  .entete {
    display: flex;
    flex-direction: column;
    width: 98%;
    max-width: 98%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .imageentete {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px 100px 35px 100px;
    text-align: center;
  }
  .nav {
    width: 100%;
    display: flex;
  }
  .log {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 22px;
    width: 82px;
    margin-left: 50%;
    text-align: center;
  }
  .logo {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 22px;
    width: 82px;
    text-align: center;
  }
  nav {
    width: 100%;
    background-color: transparent;
    margin-bottom: 30px;
  }
  nav:hover {
    width: 100%;
    background-color: transparent;
    margin-bottom: 27px;
    border-bottom: 2px solid rgb(242, 242, 242);
  }

  nav ul {
    list-style-type: none;
  }

  nav li {
    float: left;
    width: 50%; /*100% divisé par le nombre d'éléments de menu*/
    /*text-align: center;Centre le texte dans les éléments de menu*/
    float: right;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
  }

  /*Evite que le menu n'ait une hauteur nulle*/
  nav ul::after {
    content: "";
    display: table;
    clear: both;
  }

  nav a {
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent; /*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px; /*Agrandit le menu et espace la bordure du texte*/
  }

  nav a:hover {
    color: #0065fc;
    border-bottom: 3px solid#0065FC;
    cursor: pointer;
  }

  .conteneur-section-zero {
    display: flex;
    flex-direction: column;
    height: 410px;
    width: 100%;
    max-width: 100%;
    margin: 5px 0px 20px 20px;
  }
  .vacances {
    width: 80%;
    font-family: "Raleway", sans-serif;
    justify-content: center;
    font-weight: 900;
    margin: 0px 20px 20px 30px;
  }
  .centre-ville {
    font-family: "Raleway", sans-serif;
    margin: 0px 20px 20px 30px;
  }
  .section-zero-barre {
    display: flex;
    justify-content: center;
    height: 49px;
    width: 68%;
    max-width: 68%;
    border-radius: 15px 15px 15px 15px;
    margin: 0px 20px 20px 30px;
  }
  .section-zero-localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 20%;
    max-width: 20%;
    border-radius: 15px 0px 0px 15px;
    background: #f2f2f2;
    margin: -2px 0px 0px 0px;
  }

  .section-zero-icon-rechercher {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    width: 100%;
    max-width: 100%;
    height: 49px;
    background: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
  }
  .section-zero-bouton-rechercher {
    display: none;
  }
  input {
    height: 44px;
    background-color: #fff;
    border: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: none;
    width: 100%;
    max-width: 100%;
  }
  .gestion-bouton {
    display: none;
    width: 20%;
    min-width: 20%;
  }
  .gestion-boutoni {
    width: 20%;
    min-width: 20%;
    margin: -1px 0px 0px 0px;
  }
  .section-zero-nom-ville {
    display: flex;
    justify-content: flex-end;
    height: 49px;
    width: 100%;
    background-color: #fff;
    border-radius: 0px 0px 0px 0px;
  }
  .valeur-bouton {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 19px;
    text-align: center;
    color: #000000;
    height: 44px;
    width: 100%;
    max-width: 100%;
    margin-top: 2px;
  }
  .rechercher {
    margin: 0px 0px 7px 0px;
  }
  .filtres {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5px 0px 0px 20px;
  }
  .filtre {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    margin: 5px 0px 0px 20px;
  }
  .les-eco {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .economique {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 48px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-size: 15px;
  }
  .eco-e {
    width: 200px;
  }
  .eco-f {
    width: 200px;
  }
  .eco-r {
    width: 200px;
  }
  .eco-a {
    width: 203px;
  }
  .info-wave {
    width: 20.44px;
    height: 40px;
    color: #0065fc;
    margin: 20px 5px 0px 15px;
  }
  .filtre-eco {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    text-align: center;
    color: #000000;
    margin: 10px 5px 0px 0px;
  }
  .economique:hover {
    background-color: rgb(222, 235, 255);
  }
  .economiques-f:hover {
    background-color: rgb(222, 235, 255);
  }
  .economiques:hover {
    background-color: rgb(222, 235, 255);
  }

  .logement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 35px 0px 0px 20px;
  }
  .info-circle {
    width: 20.44px;
    height: 40px;
    color: #0065fc;
  }
  .logement-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 60px;
    border: 1px solid #d9d9d9;
    margin: 0px 0px 20px 0px;
  }
  .info-circles {
    color: #0065fc;
  }
  .Infobar-logement {
    width: 70%;
    height: 40px;
    flex-wrap: wrap;
  }

  .conteneur-section-un {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 20px 0px 10px 0px;
  }
  .conteneur-hergement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 1620px;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  .hebergement-ligne-zero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 100%;
  }
  .hebergement-ligne-un {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .hebergement-titre {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
  }
  .hebergement-premier-group {
    width: 95%;
    height: 208px;
    border: 5px solid #ffffff;
    margin: 10px 20px 10px 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: #fff;
  }

  .hebergement-premier-group-image {
    width: 100%;
    height: 124px;
    color: rgb(192, 20, 20);
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }
  .hebergement-premier-group-text {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    width: 85%;
  }
  .group-text {
    width: 340px;
    height: 12px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    color: #000000;
    margin: 5px 0px 20px 5px;
  }
  .text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 11px;
    color: #000000;
    margin: 15px 0px 12px 5px;
  }
  .group-star {
    display: flex;
    color: #0065fc;
    width: 100%;
    height: 10px;
    align-items: flex-start;
    margin: 0px 0px 10px 5px;
  }
  .star-gris {
    display: flex;
    color: rgb(242, 242, 242);
    width: 100%;
    height: 10px;
    align-items: flex-start;
  }
  .hebergement-ligne-deux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hebergement-deuxieme-group {
    width: 95%;
    height: 208px;
    border: 5px solid #ffffff;
    margin: 10px 20px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    background-color: #fff;
  }
  .hebergement-ligne-afficher {
    display: none;
    height: 50px;
    width: 100%;
    margin-left: 150px;
  }
  .conteneur-populaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f2f2f2;
    border-radius: 20px 20px 20px 20px;
    margin: 10px 0px 20px 0px;
  }

  .conteneur-pop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .populaire-group-conteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .populaire-group {
    display: flex;
    flex-direction: row;
    width: 85%;
    max-width: 85%;
    height: 144px;
    border: 5px solid #ffffff;
    margin: 15px 15px 15px 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #fff;
  }
  .populaire-group-image {
    width: 40%;
    min-width: 40%;
  }
  .conteneur-populaires-titres {
    display: flex;
    width: 75%;
    min-width: 75%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .populaire-titres {
    text-align: justify;
    width: 70%;
  }
  .populaire-titre {
    width: 100%;
  }

  .populaire-premier-group-image {
    width: 100%;
    max-width: 100%;
    height: 144px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
  }
  .populaire-premier-group-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 60%;
  }
  .pop-group-text {
    width: 80%;
    height: 12px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
    color: #000000;
    margin-left: 14px;
  }
  .pop-text {
    height: 15px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    margin: 30px 0px 0px 14px;
  }
  .pop-group-star {
    display: flex;
    color: #0065fc;
    width: 100%;
    height: 10px;
    align-items: flex-end;
    margin: 70px 0px 0px 14px;
  }
  .star-pop-gris {
    display: flex;
    color: rgb(242, 242, 242);
    width: 100%;
    height: 10px;
    align-items: flex-end;
  }
  .info-lines {
    margin: 0px 0px 0px 40px;
  }
  .info-line {
    width: 20.44px;
    height: 40px;
    right: 0px;
    border-radius: 0px;
    margin: 20px 5px 5px 10%;
    color: #0065fc;
  }

  .conteneur-section-deux {
    width: 100%;
    height: 1100px;
    filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.1));
  }
  .ativites-titre {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
  }
  .activites-listes {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .activites-group {
    width: 405px;
    min-width: 405px;
    height: 220px;
    border-radius: 20px 20px 20px 20px;
    margin: 20px 20px 0px 20px;
    background-color: rgb(255, 255, 250);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0));
  }

  .conteneur-image-activite {
    box-sizing: border-box;
    height: 210px;
    width: 100%;
    max-width: 100%;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    object-fit: cover;
  }
  .activites-group-image {
    box-sizing: border-box;
    height: 210px;
    width: 100%;
    max-width: 100%;
    background: #ffffff;
    border-radius: 20px;
    object-fit: cover;
  }
  .activites-group-footer {
    position: absolute;
    width: 99.7%;
    height: 56px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0px 0px 20px 20px;
    bottom: 0px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.09));
  }
  .activites-group-footer-titre {
    height: 15px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;
    color: #000000;
    margin: 10px 0px 0px 14px;
  }
  .footer-section {
    display: flex;
    width: 100%;
    height: 600px;
    background: #f2f2f2;
    margin-top: 20px;
  }
  .footer-listes {
    display: flex;
    flex-direction: column;
  }
  .footer-group {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    height: 144.51px;
    margin: 20px 20px 40px 15%;
  }

  .footer-titre {
    width: 100%;
    max-width: 100%;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 20px;
  }
  .footer-paragraphe {
    width: 100%;
    max-width: 100%;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #000000;
  }
}
